body {
    outline: 1px solid red;
    display: flex;
    align-items: center; /* Centra el .holaMundo verticalmente */
    justify-content: center; /* Centra el .holaMundo horizontalmente */
    height: 100vh; /* Asegúrate de que el body ocupe toda la pantalla */
    margin: 0; /* Elimina márgenes por defecto del body */
}

.holaMundo {
    display: flex;
    justify-content: center; /* Centra el contenido de .holaMundo horizontalmente */
    flex-direction: column; /* Alinea los elementos internos en columna */
    width: 50vh;
    height: 50vh;
    background-color: salmon; /* Color de fondo para visualizar */
    padding: 5vh;
    box-shadow: 0px 0px 100px salmon;
    border-radius: 5%;

}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}