<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre de la actividad</title>
    <link rel="icon" type="image/x-icon" href="https://iesventura.es/_ies_datos/LOGO_new.jpg">
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <p>Tarea 10: Spring Boot con vistas usando thymeleaf</p>
        </header>
    
        <main>
            <h1>Sitio para añadir asignaturas</h1>
            <br>
            <a th:href="@{/abrir}">Ir a "abrir asignatura"</a>
            <a th:href="@{/agregar}">Ir a "agregar asignatura"</a>
        </main>
    
        <footer>
            <p>&copy; 2024 Github Agu146. Todos los derechos reservados.</p>
        </footer>
    </div>
    <script src="script.js"></script>
</body>
</html>