.container {
    position: relative;
    outline: dotted 4px black;
    height: 400px;
    width: 500px;
}
div[class^="box-"] {
position: absolute;
border: 1px solid black;
width: 150px;
height: 75px;
text-align: center;
line-height: 70px;
color: white;
font-weight: bolder;
font-size: x-large;
text-shadow: 2px 2px 2px black;
}
.box-1 {
    top: 0px;
    background-color: red;
}
.box-2 {
    right: 0px;
    background-color: orange;
}
.box-3 {
    bottom: 0px;
    background-color: yellow;
}
.box-4 {
    bottom: 0px;
    right: 0px;
    background-color: green;
}
.box-5 {
    bottom: 175px;
    right: 180px;
    background-color:cadetblue;
}