/* ===============================================
* Ejercicio N.º2: Transformaciones y transiciones
============================================== */

/*
      <div id="transformaciones" class="section">
          <!-- Contenedor de los botones -->
          <div class="botones">
              <button id="btn-escalar">Escalado</button>
              <button id="btn-desplazar">Desplazamiento</button>
              <button id="btn-rotar">Rotación</div>
          </div>
          <!-- Contenedor de la bola de billar -->
          <div class="contenedor-billar">
              <!-- Bola de billar -->
              <div class="bola-billar">
                  <!-- Número de la bola de billar -->
                  <span class="numero">8</span>
              </div>
          </div>
          <!-- Descripción de la animación -->
           <div class="descripcion">
              <p id="transformacion-texto">¡Haz click en un botón para aplicar una transformación!</p>
           </div>
      </div>
*/

.contenedor-billar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

.bola-billar {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Retraso de un segundo en los animaciones */
    transition: transform 1s ease;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    /* Retraso de un segundo en los animaciones */
    transition: transform 1s ease;
}

.boton-transformacion {
    gap: 10px;
    height: 40px;
    width: 100px;
    padding: 10px 20px;
    background-color: darkolivegreen;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    /* Retraso de un segundo en los animaciones */
    transition: transform 1s ease;
}

.boton-transformacion:hover {
    background-color: olive;
    transform: translateY(-2px);
}

/* ===============================================
* Ejercicio N.º2: Animación de la bola
============================================== */
#btn-escalar:active ~ .contenedor-billar .bola-billar {
    transform: scale(1.5);
}

#btn-desplazar:active ~ .contenedor-billar .bola-billar {
    transform: translateX(80px);
}

#btn-rotar:active ~ .contenedor-billar .bola-billar {
    transform: rotate(360deg) translateX(40px);
}

/* ================================================
* Ejercicio N.º2: Texto descriptivo de la animación
============================================== */
#transformacion-texto {
    display: block;
    text-align: center;

}

#btn-escalar:active ~ .descripcion #transformacion-texto::after {
    content: "Ejecutando 'transform: scale(1.5);'";
}
#btn-desplazar:active ~ .descripcion #transformacion-texto::after {
    content: "Ejecutando 'transform: translateX(80px);'";
}
#btn-rotar:active ~ .descripcion #transformacion-texto::after {
    content: "Ejecutando 'transform: rotate(360deg) translateX(40px);'";
}

/* ===============================================
* Ejercicio N.º2.3: Transformaciones y transiciones
============================================== */
.contenedor-billar-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

.bola-billar-2 {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Retraso de un segundo en los animaciones */
    transition: transform 1s ease;
}

.numero-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    /* Retraso de un segundo en los animaciones */
    transition: transform 1s ease;
}
/* ===========================================================
* Ejercicio N.º2.3: Trasnformar bola en mesa y ocultar número
============================================================ */
.bola-billar-2:hover > .numero-2 {
    display: none;
}

.bola-billar-2:hover {
    width: 200px;
    height: 100px;
    background-color: green;
    border-radius: 15px;
    border: 10px solid black;
}