# Asegurarse de que PHP se ejecuta correctamente
<IfModule mod_php8.c>
    php_flag display_errors on
    php_value error_reporting E_ALL
</IfModule>

# Permitir el acceso a todos los archivos en esta carpeta
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /formacion/daw2/interfaces/examen-final/publico/
    
    # Si el archivo o directorio existe, usarlo directamente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # De lo contrario, redirigir a index.php
    RewriteRule ^ index.php [L]
</IfModule> 