/* ============================================
* Estilos generales y resteo de los navegadores
============================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    height: 100vh;
    /* Para evitar el scroll horizontal  y vertica "escondemos" el scroll */
    overflow: hidden;

    border: 10px solid purple;
}
/* ============================================
* Estilos del contenedor (sitio web completo)
============================================= */
.contenedor {
    /* Estilos generales del contenedor */
    width: 100%;
    max-width: 1240px;
    height: 100vh;
    margin: 0 auto;
    border: 2px solid red;
    /* Estilos relacionados con grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr auto;
    grid-template-areas:
        "header header"
        "nav nav"
        "transformaciones transiciones"
        "animaciones-css animaciones-canvas"
        "animaciones-svg animaciones-svg"
        "footer footer";
    ;
    /* Separación interna-externa de los contenedores */
    padding: 20px;
    gap: 10px;
}

/* ============================================
* Estilos de la cabecera (header)
============================================= */
header{
    grid-area: header;
    color: white;
    background-color: darkolivegreen;
    padding: 20px;
    gap: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    /* Estilos flex de la cabecera */
    display: flex;
    align-items: center;
    /* Ocultamos cualquier desplazamiento */
    overflow: hidden;
    border: 2px black solid;
}

header h1 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

header img {
    width: 80px;
    height: 80px;
    border: 50%;
}
/* ============================================
* Estilos del menú de navegación (nav)
============================================= */
nav {
    grid-area: nav;
    background-color: grey;
    border: 2px black solid;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: block;    
}

nav a:hover {
    outline: 3px solid white;
    background-color: black;
}
/* ============================================
* Estilos de las secciones en general (section)
============================================= */
.seccion {
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.seccion:target {
    border-color: darkolivegreen;
    border-width: 6px;
}
/* ================================================
* Estilos que definen el grid area de las secciones
=============================================== */
#transformaciones {
    grid-area: transformaciones;

}

#transiciones {
    grid-area: transiciones;
}

#animaciones-css{
    grid-area: animaciones-css;
    
}

#animaciones-canvas{
    grid-area: animaciones-canvas;
}

#animaciones-svg{
    grid-area: animaciones-svg;
}
/* ================================================
* Estilos generales del pie de pagina
=============================================== */
footer {
    grid-area: footer;
    border: 2px black solid;
}





