.root {
    -fx-background-color: #f0f0f0; /* Color del fondo*/
    -fx-padding: 10px;/* damos un relleno */
    -fx-font-family: "Arial"; /* tipo de fuente*/
    -fx-font-size: 14px; /* tamaño de la fuente */
    -fx-border-radius: 20px; /* redondeamos los bordes */
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 18px;
    -fx-alignment: center-right; /*texto centrado */
}

.button {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #333; /*color del texto*/
    -fx-font-size: 30px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-pref-width: 60px; /* ancho de los botoenes */
    -fx-min-width: 60px;
    -fx-max-width: Infinity;
}

.button:hover {/*cuando pasa el ratón por encima*/
    -fx-background-color: #e0e0e0;
}

.button:pressed { /*cuando hacemos click sobre el botón*/
    -fx-background-color: #d0d0d0;
}

/* Estilos específicos para operadores */
.button.operador {
    -fx-background-color: #ff9800;
    -fx-text-fill: white;
}

.button.operador:hover {
    -fx-background-color: #f57c00;
}

.button.operador:pressed {
    -fx-background-color: #ef6c00;
}

/* Estilos específicos para el botón de igual */
.button.igual {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.button.igual:hover {
    -fx-background-color: #43A047;
}

.button.igual:pressed {
    -fx-background-color: #388E3C;
}

/* Estilos específicos para el botón de limpiar */
.button.limpiar {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
}

.button.limpiar:hover { 
    -fx-background-color: #e53935;
}

.button.limpiar:pressed { 
    -fx-background-color: #d32f2f;
}