/* ===============================================
* Ejercicio N.º2: Transformaciones y transiciones
============================================== */

/*
      <div id="transformaciones" class="section">
          <!-- Contenedor de los botones -->
          <div class="botones">
              <button id="btn-escalar">Escalado</button>
              <button id="btn-desplazar">Desplazamiento</button>
              <button id="btn-rotar">Rotación</div>
          </div>
          <!-- Contenedor de la bola de billar -->
          <div class="contenedor-billar">
              <!-- Bola de billar -->
              <div class="bola-billar">
                  <!-- Número de la bola de billar -->
                  <span class="numero">8</span>
              </div>
          </div>
          <!-- Descripción de la animación -->
           <div class="descripcion">
              <p id="transformacion-texto">¡Haz click en un botón para aplicar una transformación!</p>
           </div>
      </div>
*/

.contenedor-billar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
}

.bola-billar {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Retraso de un segundo en los animaciones */
    transition: transform 1s ease;
}

.numero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    /* Retraso de un segundo en los animaciones */
    transition: transform 1s ease;
}